{%  extends 'base.html.twig' %}
{% block body %}
    <article>
        <table style="width:100%">
            <thead>
            <tr>
                <th>Label:</th>
                <th>Date:</th>
                <th>heure_debut</th>
                <th>heure_fin</th>
{#                <th> NomGroupe</th>#}
{#                <th>text</th>#}
            </tr>
            </thead>
            {% for intervention in interventions %}

                <tr>
                    <td>{{ intervention.label}}</td>
                    <td>{{ intervention.date | date('d/m/Y')}}</td>
                    <td> !!</td>
                    <td>!!!</td>
                </tr>

            {% endfor %}
        </table>
    </article>
{%  endblock %}